In [2]:
import pandas as pd

In [22]:
df = pd.read_csv(r"C:\opt\work\upra\prototipo\git\ConTexto\contexto\data\listas_stopwords\nombres_mujeres.txt" 
         #        ,  encoding="ISO-8859–1"
                 # nombres_hombres
     #            encoding = "utf-8", 
              ,  header=None
                ) 
df.columns = ["name"]

df.head(10)

        name
0   abrahana
1     abrana
2     abunda
3    abundia
4     acasia
5    acencia
6    acensia
7   acension
8        ada
9  adalberta

In [23]:
df.shape

(6767, 1)

In [24]:
df['name'] = df['name'].str.strip()

df.sort_values(by=['name'], inplace=True)

In [25]:
df.drop_duplicates(keep="first",inplace=True)

In [26]:
df.shape
# 6533
# 6573

(6412, 1)

In [27]:
df.head()

          name
1257       aba
1258     abbie
1259      abby
1260   abelino
1261  abenamor

In [28]:
df.to_csv('nombres_mujeres.txt', index=False, header=False, encoding="utf-8")

# stop words

In [29]:
df = pd.read_csv(r"C:\opt\work\upra\prototipo\git\ConTexto\contexto\data\listas_stopwords\sw_es.txt" 
                 ,  encoding="ISO-8859–1"
                 # nombres_hombres
     #            encoding = "utf-8", 
#                   header=None
                ) 
df.columns = ["name"]

df.head()

     name
0  ademas
1  además
2     ahi
3     ahí
4      al

In [30]:
df.shape

(349, 1)

In [31]:
 
df2 = pd.read_csv(r"C:\opt\work\catastro\app_catastral\src\main\resources\data\stopwords-es.txt" 
                 ,  encoding="utf-8"   ,      header=None
                ) 
df2.columns = ["name"]

df2.head(10)

          name
0            _
1            a
2  actualmente
3      acuerdo
4     adelante
5       ademas
6       además
7       adrede
8       afirmó
9       agregó

In [32]:
df2.shape

(722, 1)

In [86]:
#df2['name'] = df2['name'].str.strip()

#df2.sort_values(by=['name'], inplace=True)

#df2.drop_duplicates(keep=False,inplace=True) 
#df2.shape

In [87]:
#df2.head()

In [33]:
df_row = pd.concat([df, df2])
df_row.shape

(1071, 1)

In [34]:
df_row.head()

     name
0  ademas
1  además
2     ahi
3     ahí
4      al

In [35]:
df_row['name'] = df_row['name'].str.strip()
df_row.sort_values(by=['name'], inplace=True)
df_row.head(20)

           name
0             _
1             a
2   actualmente
3       acuerdo
4      adelante
5        ademas
0        ademas
1        además
6        además
7        adrede
8        afirmó
9        agregó
2           ahi
10          ahi
11        ahora
3           ahí
12          ahí
4            al
13           al
5          algo

In [36]:
df_row.drop_duplicates(keep="first",inplace=True) 
df_row.shape

(729, 1)

In [37]:
df_row.head(20)

           name
0             _
1             a
2   actualmente
3       acuerdo
4      adelante
5        ademas
1        además
7        adrede
8        afirmó
9        agregó
2           ahi
11        ahora
3           ahí
4            al
5          algo
6        alguna
7       algunas
17       alguno
18      algunos
19        algún

In [39]:
df_row.to_csv('sw_es.txt', index=False, header=False, encoding="ISO-8859–1")